# Contents
## 000) Project Information
### _-- A) Data Source_
### _-- B) Data Profile_
### _-- C) My Questions_
## 00) Notes on Dataset
## 0) Import
## 1) Data Understanding
## 2) Data Preparation
### _-- A) Data Wrangling & Subsetting_
### _-- B) Data Consistency Checks_
### _-- C) Derivations & Aggregations_
## 3) ...

# 000) Project Information

## _-- A) Data Source_
- source: https://www.kaggle.com/usgs/earthquake-database
- more on NEIC here: https://www.usgs.gov/natural-hazards/earthquake-hazards/national-earthquake-information-center-neic?qt-science_support_page_related_con=3#qt-science_support_page_related_con

## Summary

This data is collected by the National Earthquake Information Center (NEIC), a segment of The United States Geologic Survey which is a US government project and trustworthy source of data. Although "survey" is in the title, the data is collected automatically by electronic sources - namely "through the operation of modern digital national and global seismograph networks". 

__There are 21 variables contained in the dataset.__

Continuous variables include:
- Date
- Time
- Depth
- Depth Error
- Depth Seismic Stations
- Magnitude
- Magnitude Error
- Magnitude Seismic Stations
- Root Mean Square

Categorical Variables include:
- Type
- Magnitude Type
- Source
- Location Source
- Magnitude Source
- Status

The data is limited to 1965-2016, and only to seismic activity 5.5 and higher. Given these limitations, this data is still relevant to my purposes in learning about seismic phenomena. There is the potential for bias if any of the seismic sensors broke or stopped working. We will see as I examine the data.

I my favorite sciences are biology and psychology. I was fascinated by dinosaurs as a kid, my parents bragged that I could name (and pronounce the name of) any dinosaur I saw. I also knew that the prehistoric world was shaped into one megacontinent called Pangea. 

![Pangea](pangea.gif)

Continental drift shuffled the tectonic plates to new locations as time went on. That's how we ended up where we are today, with the Atlantic Ocean between smaller continents that were once one big continent. I think nature is super interesting and I'm hoping that by studying this dataset I can learn something new.

__Other Background Info__
- Earthquakes are caused when "two blocks of crust ... slip past one another".
- "A negative depth can sometimes be an artifact of the poor resolution for a shallow event". Referring to the 'Depth' variable.
- 'Azimuthal Gap' is the angle (in degrees) from another nearby seismic recording head. Variable may be irrevelant to my needs.
- 'Horizontal Distance' is distance between waves from crest to crest (or trough to trough). AKA 'wavelength'.
- 'Root Mean Square' is "a measure of the imperfection of the fit of the estimator to the data".

source: https://www.usgs.gov/faqs/what-does-it-mean-earthquake-occurred-a-depth-0-km-how-can-earthquake-have-a-negative-depth?qt-news_science_products=0#qt-news_science_products

## _-- B) Data Profile_

- See [link](https://drive.google.com/file/d/1jEP0bpTceud-6eQtGSS1q9Lz_nIM7VvX/view?usp=sharing)
- Limitations & Ethics:
 - What laws should I be aware of regarding ethics of seismic data?
 - The EIC released this information publicly, but do the other organizations that helped gather this information consent to their information being available to the public?

## _-- C) My Questions_
- Where does most significant seismic activity occur? Can I identify any geologic patterns? (mountains, etc?)
- When do earthquakes happen? Can I identify earthquake patterns across time? 
- Do earthquakes happen at a certain time of day? Year?

# 00) Notes on Dataset

- original dataset has __23,412 rows & 21 columns__
- first seismic event was on '01/01/1967'
- most recent event was '12/30/2016'
- the depth of an earthquake occurs beween 0-700 km
 - shallow earthquakes 0-70
 - intermediate 70-300
 - deep 300-700
- range for latitude is -90 to 90
- range for longitude is -180 to 180

# 0) Import

In [1]:
import pandas as pd
import numpy as np
import os

import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
path=r'/Users/sjpeterson76/Desktop/Seismic Dataset'

In [44]:
df=pd.read_csv(os.path.join(path,'database.csv'))

# 1) Data Understanding

In [45]:
df.shape

(23412, 21)

In [46]:
cols=df.columns.to_list

In [47]:
cols

<bound method IndexOpsMixin.tolist of Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Depth Error',
       'Depth Seismic Stations', 'Magnitude', 'Magnitude Type',
       'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap',
       'Horizontal Distance', 'Horizontal Error', 'Root Mean Square', 'ID',
       'Source', 'Location Source', 'Magnitude Source', 'Status'],
      dtype='object')>

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        23412 non-null  object
 1   Time                        23412 non-null  object
 2   Latitude                    23412 non-null  float64
 3   Longitude                   23412 non-null  float64
 4   Type                        23412 non-null  object
 5   Depth                       23412 non-null  float64
 6   Depth Error                 4461 non-null   float64
 7   Depth Seismic Stations      7097 non-null   float64
 8   Magnitude                   23412 non-null  float64
 9   Magnitude Type              23409 non-null  object
 10  Magnitude Error             327 non-null    float64
 11  Magnitude Seismic Stations  2564 non-null   float64
 12  Azimuthal Gap               7299 non-null   float64
 13  Horizontal Distance         1604 non-null   float64
 14  Horizontal Error            1156 non-null   float64
 15  Root Mean Square            17352 non-null  float64
 16  ID                          23412 non-null  object
 17  Source                      23412 non-null  object
 18  Location Source             23412 non-null  object
 19  Magnitude Source            23412 non-null  object
 20  Status                      23412 non-null  object
dtypes: float64(12), object(9)
memory usage: 3.8+ MB

In [49]:
df['Type'].value_counts()

Earthquake           23232
Nuclear Explosion      175
Explosion                4
Rock Burst               1
Name: Type, dtype: int64

In [50]:
df['Magnitude Type'].value_counts()

MW     7722
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: Magnitude Type, dtype: int64

In [ ]:
df['Source'].value_counts()

In [ ]:
df['Location Source'].value_counts()

In [ ]:
df['Magnitude Source'].value_counts()

In [ ]:
df.describe()

## What needs work?

__Completed__
- Remove variable(s): 
 - 'Azimuthal Gap'
- Columns need to be abbreviated and snake_case

# 2) Data Preparation

## _-- A) Data Wrangling & Subsetting_

In [ ]:
# Get visual for 'Type'

type_bar=df['Type'].value_counts().plot.bar()

In [ ]:
# Export 'Type' visual

type_bar.figure.savefig(os.path.join(path,
                                     'Visuals',
                                     'type_bar.png'))

In [ ]:
## Drop 'Azimuthal Gap'
df.shape # Get column count

In [7]:
df=df.drop(columns=['Azimuthal Gap']) # Drop 'Azimuthal Gap'

In [8]:
df.shape # Get column count

(23412, 20)

In [9]:
## Rename columns as abbreviations in snake_case
cols=df.columns.to_list() # Get column names

In [10]:
cols

['Date',
 'Time',
 'Latitude',
 'Longitude',
 'Type',
 'Depth',
 'Depth Error',
 'Depth Seismic Stations',
 'Magnitude',
 'Magnitude Type',
 'Magnitude Error',
 'Magnitude Seismic Stations',
 'Horizontal Distance',
 'Horizontal Error',
 'Root Mean Square',
 'ID',
 'Source',
 'Location Source',
 'Magnitude Source',
 'Status']

In [12]:
new_cols_list=['date', # Create list for new column names to assign to dict
              'time',
              'lat',
              'long',
              'type',
              'depth',
              'dep_err',
              'dep_seis_stns',
              'mag',
              'mag_type',
              'mag_error',
              'mag_seis_stns',
              'hor_distance',
              'hor_err',
              'rms',
              'id',
              'source',
              'loc_source',
              'mag_source',
              'status']

In [13]:
print(len(cols))
print(len(new_cols_list))

20
20

In [14]:
new_cols=dict(zip(cols,new_cols_list)) # Zip 'cols' & 'new_cols_list' into new_cols

In [15]:
df=df.rename(columns=new_cols) # Rename columns

In [16]:
df.columns # Check column names

Index(['date', 'time', 'lat', 'long', 'type', 'depth', 'dep_err',
       'dep_seis_stns', 'mag', 'mag_type', 'mag_error', 'mag_seis_stns',
       'hor_distance', 'hor_err', 'rms', 'id', 'source', 'loc_source',
       'mag_source', 'status'],
      dtype='object')

In [17]:
df.shape # Check number of columns (should be 20)

(23412, 20)

In [19]:
## Export df

df.to_csv(os.path.join(path,'Prepared Data','2021-07-16--15:39-wrangled_subset'))

## _-- B) Data Consistency Checks_

In [20]:
## Check for data type inconsistencies

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

mag_type

In [21]:
df['mag_type'].describe() # What's in 'mag_type'?

count     23409
unique       10
top          MW
freq       7722
Name: mag_type, dtype: object

In [22]:
df['mag_type']=df['mag_type'].astype('str') # Convert 'mag_type' to str

In [23]:
## Double-check for data type inconsistencies

for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

In [25]:
## Find null values

df.isnull().sum()

date                 0
time                 0
lat                  0
long                 0
type                 0
depth                0
dep_err          18951
dep_seis_stns    16315
mag                  0
mag_type             0
mag_error        23085
mag_seis_stns    20848
hor_distance     21808
hor_err          22256
rms               6060
id                   0
source               0
loc_source           0
mag_source           0
status               0
dtype: int64

In [26]:
df.shape

(23412, 20)

In [ ]:
18951/23412 

# Null 'dep_err' makes up 80% of dataset.

In [ ]:
6060/23412

# 1/4 of all rows contain null 'rms'

In [27]:
## Remove columns with missing values. Not necessary for analysis

len(df.columns) # Get number of columns

20

In [28]:
cols=df.columns.to_list() # Assign columns to 'cols'
cols

['date',
 'time',
 'lat',
 'long',
 'type',
 'depth',
 'dep_err',
 'dep_seis_stns',
 'mag',
 'mag_type',
 'mag_error',
 'mag_seis_stns',
 'hor_distance',
 'hor_err',
 'rms',
 'id',
 'source',
 'loc_source',
 'mag_source',
 'status']

In [29]:
remove_cols=['dep_err',
            'dep_seis_stns',
            'mag_error',
            'mag_seis_stns',
            'hor_distance',
            'hor_err']

In [31]:
len(remove_cols)

6

In [32]:
df=df.drop(columns=remove_cols)

In [33]:
len(df.columns) # Get number of columns

14

In [35]:
## Find full duplicates

df[df.duplicated()]

# No duplicates

Empty DataFrame
Columns: [date, time, lat, long, type, depth, mag, mag_type, rms, id, source, loc_source, mag_source, status]
Index: []

In [36]:
## Export df

df.to_csv(os.path.join(path,'Prepared Data','2021-07-16--16:43 - consistent'))

In [109]:
## Prepare columns to import to new Data Profile
# Import latest df

df=pd.read_csv(os.path.join(path,'Prepared Data','2021-07-16--16:43 - consistent'),
                index_col='Unnamed: 0')

In [110]:
df.head() # Check df

,date,time,lat,long,type,depth,mag,mag_type,rms,id,source,loc_source,mag_source,status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,6.0,MW,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,5.8,MW,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,MW,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,MW,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,5.8,MW,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [111]:
cols_df=pd.DataFrame(df.columns) # Assign column names to cols_df for Data Profile

In [112]:
cols_df.to_clipboard() # Copy to clipboard and paste to Data Profile

In [113]:
## Data Consistency Checks from Data Profile

df['mag_type'].value_counts() # Inspect 'mag_type'

MW     7722
MWC    5669
MB     3761
MWB    2458
MWW    1983
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: mag_type, dtype: int64

In [86]:
## Convert 'mag_type' value 'MWW' to 'MW'

mag_type_series=df['mag_type'] # Create series

In [114]:
mag_type_series=mag_type_series.replace('MWW','MW') # Consolidate 'MWW' to 'MW'

In [115]:
mag_type_series.value_counts() # Check 'MW' count

MW     9705
MWC    5669
MB     3761
MWB    2458
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: mag_type, dtype: int64

In [89]:
df['mag_type']=mag_type_series # Replace 'mag_type'

In [90]:
df['mag_type'].value_counts() # Check 'mag_type' count

MW     9705
MWC    5669
MB     3761
MWB    2458
MS     1702
ML       77
MWR      26
MD        6
MH        5
Name: mag_type, dtype: int64

In [91]:
df['source'].value_counts() # Inspect 'source'

US           20630
ISCGEM        2460
ISCGEMSUP      120
CI              61
GCMT            55
NC              51
AK              12
OFFICIAL         8
UW               6
NN               4
ATLAS            3
SE               1
PR               1
Name: source, dtype: int64

In [92]:
## Replace 'ISCGEMSUP' with 'ISCGEM'

source_series=df['source'] # Create series

In [93]:
source_series=source_series.replace('ISCGEMSUP','ISCGEM') # Consolidate 'ISCGEMSUP' to 'ISCGEM'

In [94]:
source_series.value_counts() # Check 'ISCGEM' count

US          20630
ISCGEM       2580
CI             61
GCMT           55
NC             51
AK             12
OFFICIAL        8
UW              6
NN              4
ATLAS           3
SE              1
PR              1
Name: source, dtype: int64

In [95]:
df['source']=source_series # Replace 'source'

In [96]:
df['source'].value_counts() # Check 'source' count

US          20630
ISCGEM       2580
CI             61
GCMT           55
NC             51
AK             12
OFFICIAL        8
UW              6
NN              4
ATLAS           3
SE              1
PR              1
Name: source, dtype: int64

In [116]:
## Delete 'OFFICIAL', 'NN', 'SE'

df.shape # Check row count

(23412, 14)

In [117]:
df=df[df.source!='OFFICIAL'] # Reassign all values except 'OFFICIAL', 'NN', 'SE' to df
df=df[df.source!='NN']
df=df[df.source!='SE']

In [118]:
df.shape # Check row count

(23399, 14)

In [101]:
df['source'].value_counts() # Check 'source' count

US        20630
ISCGEM     2580
CI           61
GCMT         55
NC           51
AK           12
UW            6
ATLAS         3
PR            1
Name: source, dtype: int64

In [ ]:
df['loc_source'].value_counts() # Inspect 'loc_source'

In [ ]:
df['mag_source'].value_counts() # Inspect 'mag_source'

In [124]:
df=df.drop(columns=['loc_source', # Drop 'loc_source' & 'mag_source'
                    'mag_source'])

In [125]:
df.shape # Check number of columns

(23399, 12)

In [137]:
## Export df

df.to_csv(os.path.join(path,'Prepared Data','2021-07-16--16:43 - consistent'))